body{
    background:#f1f1f1;
}
input, button{
    outline:none !important;
    box-shadow:none !important;
}
.main-nav{
    background-color: #fff !important;
    position: sticky;
    top: 0;
}
.main-nav .navbar-nav .nav-link{
    color:#666;
}

.navbar-brand {
    color: #ffa216 !important;
}
.page{
    min-height: calc(100vh - 56px);
    color: #666;
}
.login-form {
    background: #fff;
    border-radius: 10px;
    padding: 20px;
    margin:50px auto;
}
.user-dropdown{
    position: absolute;
    right: 15px;
}
.user-dropdown .dropdown-menu{
    left:unset;
    right:0;
}

.dashboard-large-icon{
    font-size:100px;
}

.main-nav .navbar-nav .nav-link.danger-link{
    color:#f50;
}

.rocket-icon{
    font-size: 200px;
    color: #ffa216;
}
.start-btn{
    display: block;
    border-radius: 100%;
    border: none;
    background: #ca3d3d;
    color: #fff;
    padding: 30px;
    font-size: 24px;
    margin: 20px auto;
    border: 5px solid #fff;
    box-shadow: 0px 0px 10px #ccc;
    cursor: pointer;
    transition: all .3s ease;
}
.start-btn:hover{
   background: #b30e0e;
}
.alert{
    font-size: 14px;
    color: #fff;
    text-align: center;
    width: auto;
    padding: 10px;
}
.alert.alert-danger{
    background: #ffa5a5;
    border-color: #ffa5a5;
}
.alert.alert-success {
    background-color: #7ad690;
    border-color: #7ad690;
}
.alert:before {
    content: "\f06a";
    font-family: "Font Awesome 5 Free";
    font-weight: 600;
    float: left;
}