<div class="alert-block col-3 float-left mt-2" style="position:absolute;">{{ flash.output() }}</div>
<h3 class="text-center pt-5">Welcome to Dashboard</h3>
<p class="text-center"><i class="fas fa-columns dashboard-large-icon"></i></p>